* {
    margin: 0;
    padding: 0;
    outline: 0;
}

ul,
ol {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
a,
span {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* Banner Starts */

#banner {
    background: url(../images/home-banner.jpg) no-repeat right 0 fixed;
    background-size: cover;
    padding: 160px 0 60px;
    overflow: hidden;
    position: relative;
}

#banner::after {
	content: '';
	position: absolute;
	top: 0;
	left: -28%;
	width: 80%;
	height: 240%;
	background: rgba(203, 195, 227, 0.8);
	transform: rotate(-40deg);
	-webkit-transform: rotate(-40deg);
	-moz-transform: rotate(-40deg);
	-o-transform: rotate(-40deg);
	-ms-transform: rotate(-40deg);
}

#banner .banner-text {
    position: relative;
    z-index: 2;
    color: #271c3e;
}

.banner-text h2 {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.banner-text h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 60px;
	font-weight: 300;
	line-height: 1.0em;
	padding: 10px 0 20px;
}

.banner-text p {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #271c3e;
	margin-bottom: 30px;
}

.banner-text a {
    color: white;
    padding: 10px 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    background: #271c3e;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 3px;
    border-radius: 6px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -o-transition: all linear .3s;
    -ms-transition: all linear .3s;
}

.banner-text a:hover {
    background: #362757;
    color: white;
}

/* Banner Ends */

/* Flexislider Starts */

#profiles {
	padding: 60px 0 50px;
}

.profile-header h3 {
	color: #676767;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 30px;
}

.flexslider .slides>li {
    display: none;
    -webkit-backface-visibility: hidden;
}

.profile-inner .profile-img {
    position: relative;
    margin-bottom: 10px;
}

.profile-inner .profile-img a::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    
}

.profile-inner .profile-img a:hover::before {
    background: rgba(203, 195, 227, 0.5);
}

.profile-inner p {
    color: #676767;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.profile-inner a {
    color: #271c3e;;
	font-size: 20px;
	font-weight: 300;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -o-transition: all linear .3s;
    -ms-transition: all linear .3s;
}

.profile-inner a:hover {
    color: #f5b43c;;
}

.slides:after {
    content: "\0020";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .slides {
    display: block;
}

.flex-viewport {
	padding: 30px;
	border: 1px solid #e5e5e5;
	width: 104.94%;
	margin-left: -2.5%;
    transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;

}

.loading .flex-viewport {
    max-height: 300px;
}


.flex-direction-nav {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: -20px;
    position: relative;
    z-index: 2;
}

.flex-direction-nav li {
    margin: 0 1px;
    display: inline-block;
}

.flex-direction-nav li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #e70026;
    overflow: hidden;
    color: #fff;
}

.flex-direction-nav li a:before {
    font-family: 'FontAwesome';
    font-size: 32px;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 0 10px 0 0;
}

.flex-direction-nav li a:hover {
    background: #271c3e;
}

.flex-direction-nav li .flex-prev {
    float: left;
}

.flex-direction-nav li .flex-prev:before {
    content: "\f104";
}

.flex-direction-nav li .flex-next {
    float: right;
}

.flex-direction-nav li .flex-next:before {
    content: "\f105";
}


/* Flexislider Ends */

/* Featured Starts */

#features-para {
    background: url(../images/bg-parallax.jpeg) repeat 0 top fixed;
    padding: 70px 0;
    border-bottom: 10px solid #e70026;
    position: relative;
    z-index: 1;
}

#features-para::after {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(6, 6, 32, 0.85);
	z-index: -1;
}

.feature {
    padding-bottom: 70px;
}

.feature-text h2 {
	color: #fff;
    font-family: 'Roboto', sans-serif;
	font-size: 24px;
    font-weight: 300;
    line-height: 1.4em;
}

.feature-text a {
	color: #e70026;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 300;
	line-height: 1.4em;
	margin-top: 20px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -o-transition: all linear .3s;
    -ms-transition: all linear .3s;
}

.feature-text a:hover {
    color: #fff;
}

.features-icon {
    background: #f2f2f2;
    padding: 70px 0;
}

.icon-box {
    color: #676767;
    font-family: 'Roboto', sans-serif;
}

.icon-box i {
	color: #e70026;
	font-size: 5em;
	margin-bottom: 20px;
}

.icon-box h3 {
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 20px;
}

.icon-box p {
    font-size: 14px;
    font-weight: 300;
}
/* Featured Ends */

/* Testimonial Starts */

#testimonial {
    padding: 70px 0;
}

.testimonial-head h2 {
	color: #271c3e;
	font-family: 'Roboto', sans-serif;
	font-size: 36px;
	font-weight: 300;
	margin-bottom: 20px;
}

.testimonial-head h4 {
	color: #e70026;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
	margin-bottom: 3em;
}

.testimonial-text {
    width: 46%;
	border: 1px solid #e5e5e5;
	padding: 30px 30px 20px;
	vertical-align: top;
    margin-bottom: 180px;
    position: relative;
}

.testimonial-text::before {
	position: absolute;
	content: '';
	left: 50%;
	bottom: -50px;
	transform: translateX(-50%);
	border-left: 25px solid transparent;
	border-top: 25px solid #e5e5e5;
	border-right: 25px solid transparent;
	border-bottom: 25px solid transparent;
}

.testimonial-text::after {
	position: absolute;
	content: '';
	left: 50%;
	bottom: -49px;
	transform: translateX(-50%);
	border-left: 25px solid transparent;
	border-top: 25px solid #fff;
	border-right: 25px solid transparent;
	border-bottom: 25px solid transparent;
}

.testimonial-text h4 {
	font-family: "Roboto", sans-serif;
    font-size: 18px;
	color: #271c3e;
	font-weight: 300;
	margin-bottom: 15px;
}

.testimonial-text h3 {
	color: #271c3e;
    font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 300;
}

.testimonial-text p {
	color: #676767;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	padding-bottom: 10px;
}

.testimonial-text img {
	position: absolute;
	left: 50%;
	bottom: -140px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	transform: translateX(-50%);
}

.testimonial-text:last-child {
    margin-bottom: 0;
}

/* Testimonial Ends */

/* Footer Starts */

#footer {
    background: url(../images/bg-footer.jpg) no-repeat 50% 0 fixed;
    background-size: cover;
    padding-top: 50px;
    position: relative;
    z-index: 1;
}

#footer::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( to bottom, rgba(203, 195, 227, 0.8), rgba(158, 140, 212, 0.8) );
    z-index: -1;
}

.footer-top {
    padding-bottom: 40px;
}

.footer-content h3 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 300;
}

.footer-content h2 {
	color: #271c3e;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 400;
	padding: 20px 0 30px;
}

.footer-content a {
    color: white;
    padding: 10px 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    background: #271c3e;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 3px;
    border-radius: 6px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -o-transition: all linear .3s;
    -ms-transition: all linear .3s;
}

.footer-content a:hover {
    background: #362757;
    color: white;
}

.footer-bottom {
    border-top: 1px solid #f5b33c;
    padding: 30px 0;
}

.copyright p {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	margin-top: 3px;
}

.footer-menu ul {
    display: flex;
    justify-content: flex-end;
}

.footer-menu ul li {
	padding: 0px 5px;
}

.footer-menu ul li a {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
    margin-left: 30px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -o-transition: all linear .3s;
    -ms-transition: all linear .3s;
}

.footer-menu ul li a:hover {
    color: #101820FF;
}

.footer-menu ul li::after {
	content: "|";
	position: relative;
	left: 18px;
}

.footer-menu ul li:last-child::after {
    display: none;
}

/* Footer Ends */

/* Pages */

#page-banner {
	background: url(../images/home-banner.jpg) no-repeat right 0 fixed;
	background-size: cover;
	padding: 150px 0 50px;
	overflow: hidden;
	position: relative;
    z-index: 1;
}

#page-banner::after {
	content: '';
	position: absolute;
	top: 0;
	left: -28%;
	width: 65%;
	height: 240%;
	background: rgba(203, 195, 227, 0.8);
	transform: rotate(-40deg);
	-webkit-transform: rotate(-40deg);
	-moz-transform: rotate(-40deg);
	-o-transform: rotate(-40deg);
	-ms-transform: rotate(-40deg);
    z-index: -1;
}

#about {
	padding: 50px 0 30px;
}

#about p {
    color: #271c3e;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
    line-height: 24px;
	padding-bottom: 20px;
}

#about-features {
	background: url(../images/bg-parallax.jpeg) repeat 0 top fixed;
	padding: 70px 0;
	border-bottom: 10px solid #e70026;
	position: relative;
	z-index: 1;
}

#about-features::after {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(6, 6, 32, 0.85);
	z-index: -1;
}

#pages {
    padding: 50px 0 30px;
    color: #271c3e;
	font-family: 'Roboto', sans-serif;
}

#pages h4 {
	font-size: 24px;
	font-weight: 400;
	padding: 5px 0 15px;
}

#pages h5 {
	font-size: 18px;
	font-weight: 400;
    padding: 5px 0 12px;
}

#pages p{
	font-size: 14px;
    line-height: 24px;
    padding-bottom:10px;
}

#pages p.pagetoptext {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
}

#pages ul, #pages ol {
	list-style: disc;
	padding-left: 40px;
}

#pages a {
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -o-transition: all linear .3s;
    -ms-transition: all linear .3s;
}

#pages a:hover {
    color: #271c3e;
}
/* Pages */